<div class="jumbotron center">
	<h1>Coming Soon</h1>
	<p>Sign up below to receive e-mail updates about our product.</p>
	</form>
	<p>
       <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "#", class: "btn btn-danger btn-lg" %>
  </p>   
</div>